@import "./_fonts";
@import "./_mixins.scss";
@import "./_colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
select,
textarea,
button {
  border: none;
  outline: none;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  background: rgba(0, 0, 0, .5);
  border: none;
  @include px-for-rem(170, width);
  @include px-for-rem(260, height);
  cursor: none;

  @include for-mobile {
    @include px-for-rem(140, width);
    @include px-for-rem(190, height);
  }
}

::selection {
  background: $selection;
  color: $black;
}

::-moz-selection {
  background: $selection;
  color: $black;
}

@keyframes passTheMouse {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}