doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")/
    meta(http-equiv="X-UA-Compatible", content="ie=edge")/
    meta(name="viewport", content="width=device-width, initial-scale=1.0")/
    meta(name="author", content="Bruno Carvalho Feitosa")/
    meta(name="description", content="Landing page created to Adidas NMD R1")/
    meta(name="keywords", content="Panding page, Adidas, NMD R1")/
    link(rel="stylesheet", type="text/css" href="css/index.css")/
    link(rel="shortcut icon", type="image/png", href="../../images/icon-fav.png")/
    title Adidas NMD R1

    header.b-header
      div.b-header__brand
        div.b-header__brand-image
          a(href="/")
            img(src="../../images/icon-adidas-trefoil-50.png" alt="Adidas")/
      div.b-header__categories
        div.b-header__categories-links
          ul.b-header__categories-links__ul
            li.b-header__categories-links__ul-li
              a(href="#") Menu
            li.b-header__categories-links__ul-li
              a(href="#") Homem
            li.b-header__categories-links__ul-li
              a(href="#") Mulher
            li.b-header__categories-links__ul-li
              a(href="#") Kids
        div.b-header__categories-nmd
          h2 NMD_

