footer.b-footer

script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.js")
script(src="../../js/index.js")